/* Reset some basic styles */
body, h1, h2, h3, p, ul, li, form, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: #ffffff;
    color: #000000;
    text-align: center;
    padding: 0px 0;
}
.products {
    background: #a1a1a1;
    color: #000000;
    text-align: center;
    padding: 5px 0;
}

.hero button {
    background: #fff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

section {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}

.service {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    background: #ffffff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}